::placeholder {
  color: $grey1;
  font-size: 90%;
}
:-ms-input-placeholder{
  color: $grey1;
  font-size: 90%;
}
::-ms-input-placeholder{
  color: $grey1;
  font-size: 90%;
}

.input-group {
  .input-group-text {
    background-color: $white !important;
    border-radius: 0 7px 7px 0 !important;
    border-left: none !important;
    height: calc(1.5em + .75rem + 2px);
  }
  input.form-control {
    border-right: none !important;
    border-radius: 7px 0 0 7px !important;
    &:focus {
      box-shadow: none !important;
      border-color: #ced4da !important;
    }
  }
}
