@import "theme/_theme";
@import "_forms";

body {
  font-family: $font, serif !important;
}

html, body {
  width: 100%;
  height: 100vh;
}

.page {
  padding: 20px 40px;
  width: 75% !important;
  @media (max-width: 767px) {
    width: 100% !important;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    width: 95% !important;
  }
}
