<div class="caf-filter">
    <div class="d-md-flex justify-content-md-between">
        <div class="input-group caf-filter__search">
            <input type="text"
                   #search
                   class="form-control"
                   placeholder="Search by surname"
                   (keyup.enter)="filterUsers('surname', search.value, '==')">
            <div class="input-group-append">
                <div class="input-group-text">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </div>
            </div>
        </div>

        <div class="caf-filter__filter form-group d-flex">
            <label>Filter by age(older than):</label>
            <input #filter
                   class="form-control"
                   type="number"
                   placeholder="0"
                   (keyup.enter)="filterUsers('age', filter.value, '>')">
        </div>
    </div>
</div>
